* {
    margin: 0;
    padding: 0;
    background:#ff00000a;
}
.button {
    width: 60px;
    height:50px;
    font-size: 25px;
    margin:2px;
}
.textview {
    width:243px;
    margin:5px;
    font-size:25px;
    padding:5px;
}
.main {
    position: absolute;
    top:30%;
    left:40%
}
.bg {
    background: red;
}